.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 440px;
    margin: auto;
}

.header {
    margin: 0;
}

.content {
    padding: 170px;
    flex: 1 1 auto;
    overflow: auto;
}